* {
    margin: 0;
    padding: 0 auto;
    box-sizing: border-box;
}



header{
    width: 100%;
    height: auto;
    padding-bottom: 100px;
    margin-bottom: 250px;
}

section{
    width: 100%;
    height: auto;
    
}

footer{
    width: 100%;
    height: auto;
}

body{
    background-color: black;
    color: aliceblue;
}


.container-header{
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  
}

.background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.header{
    width: 100%;
    display: flex;
    color: aliceblue;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}


.container-header h2, a{
    width: auto;
    height: auto;
    margin: 0 auto;
}

.header a{
    text-decoration: none;
    color: aliceblue;
    text-transform: uppercase;
    font-size: .75rem;
    line-height: 1rem;
}

.container-text{
    position: relative;
    text-align: center;
    padding-top: 150px;
  
 
}

.container-text h2{
    font-size: 3.75rem;
    line-height: 1;
}

.container-text2{
    position: relative;
    text-align: center;
    margin-top: 50px;
}
.container-text2 a{
    text-decoration: none;
    color: aliceblue;
    width: auto;
    height: auto;
    border: 1px solid aliceblue;
    border-radius: 70px;
    padding: 16px;
    font-size: .75rem;
    line-height: 1rem;
    letter-spacing: .1rem;
    
}

.container-section{
    width: 100%;
    height: 100%;
    display: grid;
}

.container-background-video2{
    object-fit: cover;
    margin-top: 500px;

}

.la_maison h2{
    font-size: 48px;
}

.discover{
    width: 100%;
    display: flex;
    height: auto;
}

.cards{
    width: 100%;
    height: auto;
    padding: 16px;
    align-items: center;
    justify-content: center;
}

.cards img{
    display: block;
    overflow: hidden;
    width: 450px;
    height: 300px;
}

.cards_image{
    display: block;
    border-radius: 50px;
}

.cards h2{
    font-size: 36px;
    padding-top: 16px;
}

.cards_a{
    text-decoration: none;
    margin-top: 16px;
}

.cards_a a{
    text-decoration: none;
    color: aliceblue;
}